:root {
  /* font */
  font-family: Arial, Helvetica, sans-serif;
  
  /* colors */
  --black: #000;
  --grey: #1b1b1b;
  --grey-light: #353434;
  --white: #fff;
  --blue: #059;
  --blue-light: #0091ea;
  --red: #ff3c3c;
}
