.input {
  width: 100%;
  height: 42px;
  padding: 10px 16px;
  margin-bottom: 16px;
  border: 1px solid var(--grey-light);
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  outline: none;
 }
.input:active, 
.input:focus {
  box-shadow: 0 3px 15px var(--green-transparent);
}

.input__error {
  color: var(--red);
  margin-top: -12px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
}

@media screen and (max-width: 479px) {
  .registerForm {
    padding: 12px 24px;
    border-radius: 0px;
    max-width: 100%;
  }
}
