.player {
  display: flex;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.player__linkBack {
  color: var(--white);
  text-decoration: none;
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
}
.player__info {
  color: var(--white);
  margin-bottom: 20px;
}