.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: calc(100vh - 40px);
  padding: 20px;
}

.home__h1 {
  font-size: 24px;
  font-weight: 800;
  color: var(--white);
  margin: 20px 0px;
}

.home__wrapper { 
  display: flex;
  overflow: hidden;
}

.home__list {
  overflow: hidden;
  overflow-y: auto;
  overflow-y: overlay;
}
.home__list::-webkit-scrollbar { width: 0 !important }

.preloader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.home__img {
  width: 100%;
}